# Vessel's Dataset for Practice

The goal is to calculate:
* Mean
* Std
* Min
* Max

of marine vessels sailed grouped by vessel type, using parallel computing.

In [6]:
# Importing libraries

import numpy as np
import pandas as pd
import multiprocessing as mp

In [10]:
import time

In [11]:
# Reading the data
start_time = time.time()
df = pd.read_csv('aisdk-2022-02-19.csv')
print(time.time() - start_time)

23.702778339385986

In [13]:
df.head()

,# Timestamp,Type of mobile,MMSI,Latitude,Longitude,Navigational status,ROT,SOG,COG,Heading,...,Length,Type of position fixing device,Draught,Destination,ETA,Data source type,A,B,C,D
0,19/02/2022 00:00:00,Class A,257316000,54.8546,10.8369,Under way using engine,0.0,14.0,3.0,2.0,...,NaN,Undefined,NaN,NaN,NaN,AIS,NaN,NaN,NaN,NaN
1,19/02/2022 00:00:00,Class A,235103408,54.4989,11.2366,Under way using engine,0.0,0.0,195.2,216.0,...,NaN,Undefined,NaN,NaN,NaN,AIS,NaN,NaN,NaN,NaN
2,19/02/2022 00:00:00,Class A,244723000,55.4663,12.2042,Restricted maneuverability,NaN,0.0,68.9,NaN,...,NaN,Undefined,NaN,NaN,NaN,AIS,NaN,NaN,NaN,NaN
3,19/02/2022 00:00:00,Class A,211543450,54.3714,12.7288,Under way using engine,NaN,0.0,236.5,NaN,...,NaN,Undefined,NaN,NaN,NaN,AIS,NaN,NaN,NaN,NaN
4,19/02/2022 00:00:00,Class A,235099177,54.9523,12.4668,Under way sailing,NaN,0.0,295.4,NaN,...,NaN,Undefined,NaN,NaN,NaN,AIS,NaN,NaN,NaN,NaN

In [16]:
df['MMSI'].nunique()

2615

So we have 2615 unique vessels.

We create unique vessels list.

In [17]:
unique_vessels = pd.unique(df['MMSI'])

In [26]:
len(unique_vessels)

2615

## Calculating distance sailed using haversine

In [29]:
!pip install haversine

Collecting haversine
  Downloading haversine-2.5.1-py2.py3-none-any.whl (6.1 kB)
Installing collected packages: haversine
Successfully installed haversine-2.5.1

In [77]:
from haversine import haversine, Unit, haversine_vector

## Subselecting data for our task

In [39]:
df_final = df[['# Timestamp','Type of mobile', 'MMSI', 'Latitude', 'Longitude']]

In [40]:
df_final.head()

           # Timestamp Type of mobile       MMSI  Latitude  Longitude
0  19/02/2022 00:00:00        Class A  257316000   54.8546    10.8369
1  19/02/2022 00:00:00        Class A  235103408   54.4989    11.2366
2  19/02/2022 00:00:00        Class A  244723000   55.4663    12.2042
3  19/02/2022 00:00:00        Class A  211543450   54.3714    12.7288
4  19/02/2022 00:00:00        Class A  235099177   54.9523    12.4668

In [66]:
def calculation(df, MMSI):
    """
    Calculations of distances.
    """
    df_concat = pd.DataFrame()
    for vessel in unique_vessels:
        calc_df = df[df['MMSI'] == vessel]
        calc_df.sort_values(by=['# Timestamp'])
        calc_df = calc_df.assign(next_Latitude = calc_df.Latitude.shift(-1)).fillna({next_Latitude: calc_df.Latitude})
        calc_df = calc_df.assign(next_Longitude = calc_df.Longitude.shift(-1)).fillna({next_Longitude: calc_df.Longitude})
#         print(calc_df)
        df_concat = pd.concat([df_concat, calc_df])
        
    return df_concat

In [78]:
def calculation(df, MMSI):
    """
    Calculations of distances.
    """
    data_final = pd.DataFrame()
    calc_df = df[df['MMSI'] == MMSI]
    calc_df.sort_values(by=['# Timestamp'])
    calc_df = calc_df.assign(next_Latitude = calc_df.Latitude.shift(-1)).fillna({'next_Latitude': calc_df.Latitude})
    calc_df = calc_df.assign(next_Longitude = calc_df.Longitude.shift(-1)).fillna({'next_Longitude': calc_df.Longitude})
    calc_df['distance'] = haversine_vector((calc_df['Latitude'], calc_df['Longitude']), (calc_df['next_Latitude'], calc_df['next_Longitude']))
    data_final['MMSI'] = calc_df['MMSI'].unique()
    data_final['Total Distance'] = calc_df['distance'].sum()
        
    return data_final

In [79]:
calculation(df_final, 257316000)

ValueError: Length of values does not match length of index

In [68]:
df_final['MMSI'].unique()

array([257316000, 235103408, 244723000, ..., 304010054, 219301000,
       538009300])